@()(implicit ctx: Context)

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>English site !!</title>
		@cssTag("mainChat.css")
	</head>

	<body
		id="@ctx.userId.getOrElse("")"
		name="@ctx.username.getOrElse("")"
		mv = "@mVersion(ctx.userId)"
	>

		<div class="relation_actions">
		<a class="relation button" href="@routes.Relation.follow("luan2")?mini=1">
			<span data-icon="h">&nbsp;@trans.follow()</span>
		</a>

		<a class="relation button hint--bottom" data-hint="@trans.unfollow()" href="@routes.Relation.unfollow("luan2")?mini=1">
			<span data-icon="h">&nbsp;@trans.following()</span>
		</a>
		</div>
	<div id="count"></div>
	<div id="nav"> </div>
	<div id="app"> </div>
	<div id="rightContainer"></div>

	@jsTag("mithril.js")
	@jQueryTag
	@jsTag("jquery.textarea_autosize.js")
	@jsTag("attrchange.js")
	@jsTag("main.js")
	@jsTag("app2.js")


	<script >

		m.route.mode = "pathname";
		m.route(document.getElementById('app'), "/", {
		  "/": tenant('home', route(Home)),
//		  "/dashboard": tenant('dashboard', route(Dashboard)),
		});
	</script>
	</body>
</html>