@()(implicit ctx: Context)

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Demo</title>
		@cssTag("mainChat.css")
	</head>

	<body
		id="@ctx.userId.getOrElse("")"
		name="@ctx.username.getOrElse("")"
		mv = "@mVersion(ctx.userId)"
	>
		<div id="nav"> </div>
	<div id="count"></div>
	<div class="fixed body">
		<div id="app" class="sha2"> </div>
	</div>

	<div id="rightContainer"></div>

	@cssAt("semantic/semantic.min.css")
	@jsTag("mithril.js")
	@jQueryTag
	@jsAt("semantic/semantic.min.js")
	@jsTag("jquery.textarea_autosize.js")
	@jsTag("attrchange.js")
	@jsTag("main.js")
	@jsTag("app2.js")


	<script >
		(function() {
			var state = document.readyState;
			if(state === 'interactive' || state === 'complete') {
				m.route.mode = "pathname";
				m.route(document.getElementById('app'), "/", {
					"/": tenant('home', route(Home)),
					"/dashboard": tenant('dashboard', route(Dashboard)),
				});

				initComponent();
			}
			else setTimeout(arguments.callee, 100);
		})();
	</script>
	</body>
</html>