@cssAt("semantic/semantic.min.css")
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">*@
<script type="text/javascript"></script>
@jsTag("mithril.js")
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>*@
@jQueryTag
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>*@
@jsAt("semantic/semantic.min.js")
@jsTag("jquery.textarea_autosize.js")
@jsTag("attrchange.js")
@jsTag("main.js")
@jsTag("app2.js")